nextflow.enable.dsl=2

docker.enabled = true

params {
  samplesheet = null
  genome_fasta = null
  genome_gtf   = null
  outdir       = "results"
  threads      = 4
  design       = null   // optional for DESeq2
  skip_deseq2  = false
}

process {
  withName:FASTQC { container = 'rnaseq-tools:0.1.0' }
  withName:CUTADAPT { container = 'rnaseq-tools:0.1.0' }
  withName:STAR_INDEX { container = 'rnaseq-tools:0.1.0' }
  withName:STAR_ALIGN { container = 'rnaseq-tools:0.1.0' }
  withName:SORT_INDEX_BAM { container = 'rnaseq-tools:0.1.0' }
  withName:FEATURECOUNTS { container = 'rnaseq-tools:0.1.0' }
  withName:MULTIQC { container = 'rnaseq-tools:0.1.0' }
  withName:DESEQ2 { container = 'rnaseq-r:0.1.0' }
}


docker.enabled = true


docker.enabled = true

/* --- Docker permissions fix (run container as host user) --- */
docker.enabled = true
def uid = ['id','-u'].execute().text.trim()
def gid = ['id','-g'].execute().text.trim()
docker.runOptions = "--user ${uid}:${gid}"
